# Ignore IDE and system files
.VirtualBox/
.anaconda/
.bash_history
.conda/
.condarc
.continuum/
.dotnet/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.lesshst
.matplotlib/
.minikube/
.nuget/
.packettracer
.quokka/
.streamlit/
.th-client/
.vs-kubernetes/
.vscode/
AppData/
OneDrive/
Pictures/
Videos/
# Ignore system and user-specific files
*.log
*.bak
*.swp

# Ignore directories
Favorites/
Links/
Music/
Proyek Data Mining/
VirtualBox VMs/
anaconda3/

# Ignore NTUSER and other system files
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini

Desktop/
Documents/
Downloads/
Saved Games/

# Ignore system files
NTUSER.DAT*
*.regtrans-ms
*.blf

# Ignore directories
Searches/
